@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(45deg,#1B2029, #24334e);
    background-repeat: no-repeat;
    color: #24334e;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container{
    background: #fafafa;
    max-width: 700px;
    min-height: 60vh;
    padding: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    color: #f56613;
}

form{
    display: flex;
    flex-direction: column;
}
form .input-field{
    margin-bottom: 1rem;
}
.input-field .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 10px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 10px;
    left: 0;
    background: linear-gradient(45deg,#e9792e, #f77e1c);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}

.input-field{
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    
}

.input-field label{
    color:#24334e;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.botoes{
    padding-top: 1rem;
    padding-left: 20rem;
}

.botao{
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #FF6347, #FF8C00);
    cursor: pointer;
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.3s ease;
}

.botao:hover{
    color: #fafafa;
    background: linear-gradient(to right, #FF6347, #FF8C00);
}

.reset {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #FF8C00, #FF6347 );
    cursor: pointer;
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.3s;
}

.reset:hover{
    color: #fafafa;
    background: linear-gradient(to left, #FF6347, #FF8C00);
}

select{
    outline: none;
    color: #24334e;
}

select option{
    background: #24334e;
    color: #fafafa;
}



