@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body, li{
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #fafafa;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

.icon a:hover{
	color: #575ee0;
	transition: all 0.5s;
}

.header{
	background: #a4a8f4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	font-size: 13px;
}

.logo{
	font-size: 24px;
}

.logo .fa {
	font-size: 30px;
	width: 35px;
	color: #7b64c7;
}


.menu{
	display: flex;
}

.menu li{
	margin-left: 10px;
	max-width: 300px;
}

.menu li a{
	padding: 5px;
}

.icon-login{
	height: 1.2em;
	width: 1.1em;
	margin-left: -5px;
	position: absolute;
}

.item-login{
	padding-right: 15px;
}

.item-login:hover{
	color: #575ee0;
	transition: 0.3s;
}

li{
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	color: #fafafa;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
}

span:hover{
	color: #575ee0;
	transition: 0.3s;
}

.item-carrinho{
	border: 0px;
}

/*Ajustando tamanho do seleteor que contem o formulário de login*/

form{
	width:  100%;
	max-width: 450px;
	margin: 32px auto;
	padding: 32px 64px;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto';
	border-radius: 5px;
}

div.input{
	margin-bottom: 20px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

input
{
	/*Reset de aparencia do input*/
	-moz-appearance: none;
	-webkit-appearance: none;

	/*Caixa*/
	appearance: none;
	width: 100%;
	padding: 16px 0;
	border: none;
	border-bottom: 1px solid var(--primary-color);
	background-color: transparent;
	outline: none;
	font-family: 'Roboto';
}

input ~ label{
	position: absolute;
	top: 10px;
	left: 6px;
	color: rgba(0, 0, 0, 0.7);
	transition: .4s;
}

label{
	font-weight: 800;
}

input:focus ~ label,
input:valid ~ label{
	transform: translateY(-29px);
	font-size: 0.83em;
	letter-spacing: 0.2em;
}

div.input span.error{
	display: flex;
	padding: 0;
	background-color: rgba(255, 0, 0, 0.2);
}

input span.error.active{
	border: 1px solid red;
	padding: 0.4em;
}
/*FORMATAÇÃO SELETORES*/
.login{
	width: 100%;
	max-width: 450px;
	max-height: 400px;
	margin: 100px auto;
	padding: 0px 30px 0px 0px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

/*CONFIGURAÇÕES DE ESTILO DA IMAGEM*/
.usuario img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
	margin: auto auto 20px auto;
}

/*Margem do formulario*/
#form-login{
	margin: 20px;
}

.lab{
	display: block;
	font-family: 'Roboto';
	font-size: 15px;
}

/*ESTILIZANDO INPUT'S*/

.usuario input{
	width: 100%;
	height: 40px;
	padding: 10px 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	outline: none;
}

.usuario input:focus{
	border: 1px solid rgb(255, 101, 0);
}

/*ESTILIZANDO O BUTTON*/
.usuario button{
	width: 100%;
	padding: 10px 5px;
	margin: 10px 0px 0px 0px;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: rgb(255, 101, 0);
	color: white;
}

/*ALTERAÇÃO DE PROPRIEDADES AO PASSAR O MOUSE*/
.usuario button:hover{
	background-color: rgb(175, 89, 31);
	cursor: pointer;
}

/*ALTERAÇÃO DE PROPRIEDAS AO CLICAR SOBRE O BUTTON*/
.usuario button:active{
	background-color: rgb(124, 57, 12);
	cursor: pointer;
}