@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* RESETANDO O CSS E DEFININDO FONTE DO SITE */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(45deg,#a4a8f4, #7a7fe4);
    background-repeat: no-repeat;
    height: 100vh;
}

        /* COMEÇO DO FORMULÁRIO */
/* CENTRALIZAÇÃO DO FORMULÁRIO EM RELAÇÃO AO BODY */
.center{
    display: flex;
    justify-content: center;  
    align-items: center;
}

/* FORMATAÇÃO DO CONTAINER || POSIÇÕES */
.container{
    background: #fafafa;
    min-width: 35vw;
    max-height: 92vh;
    padding: 1.5rem 2rem;
    margin: 6vh 0vh 0vh 0vh;
    /* Estlizando a box */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);            
    border-radius: 10px;
    overflow: hidden;
}

/* FORMATAÇÃO DO TITULO H2 */
main h1{
    font-weight: 600;
    margin-bottom: 2rem;
    color: #7a7fe4;
}

/* FORMATAÇÃO DO FORMULÁRIO PARA DEIXAR OS COMPONENTES UM ABAIXO DO OUTRO */
form{
    display: flex;
    flex-direction: column;
}

/* ESPAÇAMENTO DOS INPUTS */
form .input-field{
    margin-bottom: 1rem;
}

/* LINHA DE BAIXO COM O EFEITO DE CORRER */
.input-field .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 15px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

/* LINHA DE BAIXO COM O EFEITO DE CORRER */
.input-field .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 15px;
    left: 0;
    background: linear-gradient(45deg,#a4a8f4, #7a7fe4);
    transform: scaleX(0);
    transition: all .5s ease-in-out;
    transform-origin: left;
}

/* TRANSIÇÃO DO EFEITO */
.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}

/* RESETANDO FORMATAÇÃO DOS INPUTS PARA MELHOR MANIPULAÇÃO */
.input-field{
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* FORMATAÇÃO E ESTILIZAÇÃO DOS INPUTS */
.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    background: transparent;
    font-weight: 300;
}

/* ESTILIZAÇÃO DO LABEL */
.input-field label{
    color:#7a7fe4;
    font-weight: 300;
    margin-bottom: 0.7rem;
}

/* ESTILIZAÇÃO DO PLACEHOLDER */
.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

/* POSICIONAMENTO DOS BOTÕES */
.botoes{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    position: relative;
    bottom: 20px;
    padding-top: -50px;
}

/* FORMATAÇÃO E EFEITOS DO BOTÃO CADASTRAR */
.botao{
    margin-top: 2rem;
    padding: 0.9vw 2vw;
    background: linear-gradient(to left, #a4a8f4, #7a7fe4);
    cursor: pointer;
    color: #fafafa;
    font-size: 1rem;
    transition: all 0.3s ease;
    font-weight: 300;
}

/* EFEITO HOVER DO BOTÃO DE CADASTRO */
.botao:hover{
    color: #fafafa;
    background: linear-gradient(to right, #a4a8f4, #7a7fe4);
}

/* FORMATAÇÃO E EFEITOS DO BOTÃO REDEFINIR */
.reset {
    margin-top: 2rem;
    padding: 0.9vw 2vw;
    background: linear-gradient(to left, #a4a8f4,#7a7fe4);
    cursor: pointer;
    color: #fafafa;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.4s;
}

/* EFEITO HOVER DO BOTÃO DE REDEFINIR */
.reset:hover{
    color: #7a7fe4;
    background: #fafafa;
    box-shadow: 0 0 0.40em currentColor;
}

select{
    outline: none;
    color: #7a7fe4;             /*ESTILIZAÇÃO DO SELECT DO CARGO*/
    background: transparent;
    font-weight: 300;
}

select option{
    background: #7a7fe4;
    color: #fafafa;         /*ESTILIZAÇÃO DAS OPÇÕES DO CAMPO DE CARGO*/
    font-weight: 300;
}

@media only  screen and (max-width: 2000px){
    
    .botoes{               
        bottom: 0vh;
    }

    .container{ 
        bottom: 95vh;
        left: 7vw;
        min-height: 75vh;
    }

    .reset, .botao{
        padding: 0.9vw 2vw;
        border-radius: 5px;
    }
}

@media only  screen and (max-width: 1500px){
    
    .botoes{               
        bottom: 0vh;
    }

    .reset {
        margin-top: 1rem;
    }

    .botao{
        margin-top: 1rem;
    }
    
    .container{ 
        bottom: 95vh;
        left: 125px;
        min-height: 75vh;
        min-width: 50vw;
    }
}

@media only  screen and (max-width: 950px){
    
    .botoes{               
        bottom: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .reset {
        margin-top: 1rem;
    }

    .botao{
        margin-top: 1rem;
    }
    
    .container{ 
        bottom: 95vh;
        left: 125px;
        min-height: 75vh;
        min-width: 50vw;
    }
}

/*COMEÇO DA SIDEBAR*/
 .teste{
    text-decoration: none;
    color:#fafafa;              /*ESTILIZAÇÃO DO NOMES DO MENU*/
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 300;
 }
 
 
 .container-side{
    max-width:250px;
    background:rgba(84, 88, 179, 0.7);
    margin:0px;                                  /*ESTILIZAÇÃO DA SIDE BAR*/
    padding: 10px 0px 25px 0px;
    min-height: 100vh;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.4); 
}

/* ESTILIZAÇÃO DOS LINKS DA SIDEBAR */
.link{
    font-size:16px;
    font-weight:300;
    text-align:center;
    position:relative;
    height:40px;
    line-height:40px;
    margin-top:30px;
    overflow:hidden;
    width:90%;
    margin-left:5%;
    cursor:pointer;
}

/* EFEITO DA LINHA NOS NOMES */
.link:after{
    content: '';
    position:absolute;
    width:80%;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    bottom:50%;
    left:-100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
}

/* EFEITO CAMBALHOTA */
.link:hover:after,
.link.hover:after{
   left:100%;
}

.link .texto{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
    transition:all 0.75s;                                    
    transform:translateY(100%) translateZ(0);
    transition-delay:all 0.25s;
}

/* EFEITO HOVER DA TRANSIÇÃO DA CAMBALHOTA */
.link:hover .texto,
.link.hover .texto{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 0);  
    transform:translateY(0%) translateZ(0) scale(1.1);
    font-weight:600;
}

/* Estilizando Tabela de Funcionarios */
.content-table{
    width: 60vw;
    margin: 20vh 0px 0px 18vw;
    border-collapse: collapse;
    border-radius: 15px 15px 0 0;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    overflow: hidden;
}

/* Escodendo o body do lista Funcionarios */
.b-corpo{
    overflow: hidden;
}

.content-table thead tr {
    background-color: rgba(84, 88, 179, 0.7);
    text-align: left;
    font-weight: 600;
    color: #fafafa;
}

/* DIFININDO TAMANHO DOS CAMPOS DA TABELA */
.content-table tbody tr td:nth-child(1){width: 20%;}
.content-table tbody tr td:nth-child(2){width: 20%;}
.content-table tbody tr td:nth-child(3){width: 8%;}
.content-table tbody tr td:nth-child(4){width: 8%;}
.content-table tbody tr td:nth-child(5){width: 8%;}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.9);
}

.content-table .btn-crud{
    text-align: center;
}

/* Botões de Editar e Deletar Funcionarios */
a{
    text-decoration: none;
    color: white;
}

a.btn-edit-delete{
    padding: 0.5vh 0.7vw;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

#toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #5b63fa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg); 
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

#sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
}
#sidebar.active{
    left: 0px;
}

#sidebar ul{
    position: relative;
    margin-top: 50px;
}

#sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
    cursor: pointer;
}

#sidebar ul li:hover{
    background: #322341;
    
}

#sidebar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
    z-index: 100;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar{
    
}

.modal h1{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 1rem;
    color: #7a7fe4;
}

.modal{
    width: 40vw;
    min-width: 500px;
    height: 47vh;
    min-height: 400px;
    background-color: white;
    padding: 30px;
    position: relative;
    border-radius: 5px;
}

@keyframes modal {
    from{
        opacity: 0;
        transform: translate(0, -60px, 0);
    }to{
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}

.mostrar .modal{
    animation: modal .4s; 
}

.dflex{
    display: flex;
    flex-direction: column;
}

.x-fechar{
    /* Posicionamento */
    position: absolute;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 50px;

    /* ESTILIZANDO TEXTO */
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    /* ESTILIZANDO BOTÃO */
    background-color: #7a7fe4;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn-fechar{
    margin-top: 2rem;
    padding: 0.9vw 2vw;
    background: linear-gradient(to left, #a4a8f4,#7a7fe4);
    cursor: pointer;
    color: #fafafa;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.4s;
    text-align: center;
}