@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(45deg,#a4a8f4, #7a7fe4);
    background-repeat: no-repeat;
    height: 100vh;
}

/*COMEÇO DA SIDEBAR*/
/*ESTILIZAÇÃO DO NOMES DO MENU*/
a{
    text-decoration: none;
    color:#fafafa;              
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 300;
}

/*ESTILIZAÇÃO DA SIDE BAR*/
.container-side{
    max-width: 250px;
    background:rgba(84, 88, 179, 0.7);
    margin: 0px;                                  
    padding: 10px 0px 25px 0px;
    min-height: 100vh;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.4); 
}
 
/*ESTILIZAÇÃO DOS LINKS DA SIDEBAR*/
.link{
    font-size:16px;
    font-weight:300;
    text-align:center;
    position:relative;
    height:40px;          
    line-height:40px;
    margin-top:30px;
    overflow:hidden;
    width:90%;
    margin-left:5%;
    cursor:pointer;
}
 
.link:after{
    content: '';
    position:absolute;
    width:80%;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);  /*EFEITO DA LINHA NOS NOMES*/
    bottom:50%;
    left:-100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
}
 
.link:hover:after,
.link.hover:after{                     /*EFEITO CAMBALHOTA*/
    left:100%;
}
 
.link .texto{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
    transition:all 0.75s;                                  /*EFEITO CAMBALHOTA TRANSIÇÃO*/   
    transform:translateY(100%) translateZ(0);
    transition-delay:all 0.25s;
}
 
.link:hover .texto,
.link.hover .texto{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 0);  /*EFEITO HOVER DA TRANSIÇÃO DA CAMBALHOTA*/
    transform:translateY(0%) translateZ(0) scale(1.1);
    font-weight:600;
}
/*FIM DA SIDE BAR*/


/*COMEÇO DO FORMULÁRIO*/
.center{
    display: flex;
    justify-content: center;  /*CENTRALIZAÇÃO DO FORMULÁRIO EM RELAÇÃO AO BODY*/
    align-items: center;
}

.container{
    background: #fafafa;
    min-width: 35vw;
    max-height: 92vh;
    
    padding: 1.5rem 2rem;
    margin-top: 7.5vh;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);            /*FORMATAÇÃO DO CONTAINER || POSIÇÕES*/
    border-radius: 10px;
    overflow: hidden;
}

main h1{
    font-weight: 600;
    margin-bottom: 2rem;                /*FORMATAÇÃO DO TITULO H1*/
    color: #7a7fe4;
}

form{
    display: flex;
    flex-direction: column;   /*FORMATAÇÃO DO FORMULÁRIO PARA DEIXAR OS COMPONENTES UM ABAIXO DO OUTRO*/
}

form .input-field{
    margin-bottom: 1rem;      /*ESPAÇAMENTO DOS INPUTS*/  
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;                           /*LINHA DE BAIXO COM O EFEITO DE CORRER*/
    bottom: 15px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 15px;                                            /*LINHA DE BAIXO COM O EFEITO DE CORRER*/
    left: 0;
    background: linear-gradient(45deg,#a4a8f4, #7a7fe4);
    transform: scaleX(0);
    transition: all .5s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);                                   /*TRANSIÇÃO DO EFEITO*/
}

.input-field{
    border: none;
    position: relative;
    display: flex;                                        /*RESETANDO FORMATAÇÃO DOS INPUTS PARA MELHOR MANIPULAÇÃO*/
    flex-direction: column;
    justify-content: space-around;
}

/*FORMATAÇÃO E ESTILIZAÇÃO DOS INPUTS*/
.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    background: transparent;
    font-weight: 300;
}

/* ESTILIZAÇÃO DO LABEL */
.input-field label{
    color:#7a7fe4;
    font-weight: 300;
    margin-bottom: 0.7rem;

}

/* ESTILIZAÇÃO DO PLACEHOLDER */
.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.5);          
    font-weight: 300;
}

/* POSICIONAMENTO DOS BOTÕES */
.botoes{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    position: relative;
    bottom: 25px;
}

/* FORMATAÇÃO E EFEITOS DO BOTÃO CADASTRAR */
.botao{
    margin-top: 2rem;
    padding: 0.9vw 2vw;
    background: linear-gradient(to left, #a4a8f4, #7a7fe4);
    cursor: pointer;
    color: #fafafa;
    font-size: 1rem;
    transition: all 0.3s ease;
    font-weight: 300;
}

/* EFEITO HOVER DO BOTÃO DE CADASTRO */
.botao:hover{
    color: #fafafa;
    background: linear-gradient(to right, #a4a8f4, #7a7fe4);
}

/* FORMATAÇÃO E EFEITOS DO BOTÃO REDEFINIR */
.reset {
    margin-top: 2rem;
    padding: 0.9vw 2vw;
    background: linear-gradient(to left, #a4a8f4,#7a7fe4);
    cursor: pointer;
    color: #fafafa;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.4s;
}

/* EFEITO HOVER DO BOTÃO DE REDEFINIR */
.reset:hover{
    color: #7a7fe4;
    background: #fafafa;
    box-shadow: 0 0 0.40em currentColor;
}

/* ESTILIZAÇÃO DO SELECT DO CARGO */
select{
    outline: none;
    color: #7a7fe4;
    background: transparent;
    font-weight: 300;
}

/* ESTILIZAÇÃO DAS OPÇÕES DO CAMPO DE CARGO */
select option{
    background: #7a7fe4;
    color: #fafafa;
    font-weight: 300;
}

/*RESPONSIVIDADE*/
@media only  screen and (max-width: 2000px){
    
    .botoes{               
        bottom: 0vh;
    }

    .container{ 
        bottom: 95vh;
        left: 7vw;
        min-height: 75vh;
    }

    .reset, .botao{
        padding: 0.9vw 2vw;
        border-radius: 5px;
    }
}

@media only  screen and (max-width: 1500px){
    
    .botoes{               
        bottom: 0vh;
    }

    .reset {
        margin-top: 1rem;
    }

    .botao{
        margin-top: 1rem;
    }
    
    .container{ 
        bottom: 95vh;
        left: 125px;
        min-height: 75vh;
        min-width: 50vw;
    }
}


@media only  screen and (max-width: 950px){
    
    .botoes{               
        bottom: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .reset {
        margin-top: 1rem;
    }

    .botao{
        margin-top: 1rem;
    }
    
    .container{ 
        bottom: 95vh;
        left: 125px;
        min-height: 75vh;
        min-width: 50vw;
    }
}

/* BOTÃO SIDEBAR */
#toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #5b63fa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.4); 
}

#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg); 
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

#sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
}
#sidebar.active{
    left: 0px;
}

#sidebar ul{
    position: relative;
    margin-top: 50px;
}

#sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
    cursor: pointer;
}

#sidebar ul li:hover{
    background: #322341;
    
}

#sidebar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 2px;
    
}