<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Jefferson Eduardo" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/formularios.css" />
</head>

<body>

    <header>
        <h1>CATINHO DO PET</h1>
    </header>

    <!--CADASTRO DE USUÁRIO-->
    <div class="container">
        <form action="../php/cadastro_user.php" method="POST" id="form-login">
            <div class="row">
                <div class="col">
                    <label class="lab t1" for="User">
                        <strong>Nome e sobrenome</strong>
                    </label>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" alt="Digite seu nome"
                        autocomplete="off" required minlength="10">
                </div>

                <div class="col">
                    <label class="lab" for="User">
                        <strong>CPF</strong>
                    </label>
                    <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF" alt="Digite seu CPF"
                        autocomplete="off" maxlength="14" onkeyup="mascara_cpf()" required>
                </div>

                <div class="col">
                    <label class="lab" for="User">
                        <strong>E-mail</strong>
                    </label>
                    <input id="email" type="email" name="email" placeholder="Digite o seu e-mail"
                        alt="Digite seu e-mail" required>
                </div>

                <div class="col">
                    <label class="lab" for="User">
                        <strong>Confirme o e-mail</strong>
                    </label>
                    <input id="email" type="email" name="email_conf" placeholder="Digite o seu e-mail"
                        alt="Digite seu e-mail" required>
                </div>

                <div class="col">
                    <label class="lab" for="User">
                        <strong>Senha</strong>
                    </label>
                    <input id="password" type="password" name="senha" placeholder="Digite sua senha" required>
                </div>

                <div class="col">
                    <label class="lab" for="User">
                        <strong>Confirme a senha</strong>
                    </label>
                    <input id="password" type="password" name="senha_conf" placeholder="Digite sua senha" required>
                </div>

                <div>
                    <button id="btn-submit">
                        Cadastrar
                    </button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <script src="../javascript/script.js"></script>
    <script src="../javascript/validacao_cpf.js"></script>
</body>

</html>