<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Jefferson Eduardo"/>
    <title>Minha Conta</title>
    <link rel="stylesheet" href="../css/style_login.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body class="loginht">
    <header class="header">
        <a class="logo" href="index.html"><i class="fa fa-paw" aria-hidden="true"></i>CANTINHO DO PET</a>
        <nav>
            <ul class="menu">
                <li class="item-atendimento">
                    <a href="#">
                        <span class="ani">
                            ATENDIMENTO
                        </span>
                    </a>
                </li>
                
                <li class="item-login">
                    <a href="login.html">
                        <span class="item-login ani">
                            MINHA CONTA
                        </span>
                        <img class="icon-login ani" src="../image/login-icon.png" alt="">
                    </a>
                </li>

                <li class="item-carrinho">
                    <a href="#">
                        <span class="ani">
                            MEU CARRINHO
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!--LOGIN DE USUÁRIO-->
        <div class="center">
            <main class="container">
                <h2>Login</h2>
            
                <form action="../php/logar.php" method="post">
                    <div class="input-field">
                    <input type="email" name="email" id="email" placeholder="E-mail" autocomplete="off">
                        <div class="underline teste"></div>
                    </div>
                
                <div class="input-field">
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                        <div class="underline"></div>
                    </div>
                <div class="botoes">
                    <div class="cadastrar">
                        <a href="./cadastro.html">
                            <button id="cadastro" type="button">Cadastre-se</button>
                        </a>
                        
                    </div>
                    <button id="botao" type="submit">Entrar</button>
                </div>
                </form>
    <script src="../javascript/script.js"></script>
</body>
</html>