<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Jefferson Eduardo">
    <title>Blue Code</title>
    <link rel="stylesheet" href="../assets/css/style.css"/>
</head>
<body>
    <header class="header">
        <a class="logo" href="index.html">Cantinho do Pet</a>
        <nav>
            <ul class="menu">
                <li class="item-atendimento">
                    <a href="#">
                        <span class="ani">
                            atendimento
                        </span>
                    </a>
                </li>
                
                <li class="item-login">
                    <a href="acessar.html">
                        <span class="item-login ani">
                            minha conta
                        </span>
                        <img class="icon-login ani" src="assets/image/login-icon.png" alt="">
                    </a>
                </li>

                <li class="item-carrinho">
                    <a href="#">
                        <span class="ani">
                            meu carrinho
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <script src="assets/javascript/script.js"></script>
</body>
</html>