<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Jefferson Eduardo">
    <title>Blue Code</title>
    <link rel="stylesheet" href="../css/sidebar.css" />
</head>

<body>
    <nav class="container">
        <div class="link">
            <div class="texto">
                <a href="#">
                    <span class="ani">
                        atendimento
                    </span>
                </a>
            </div>
        </div>

        <div class="link">
            <div class="texto">
                <a href="login.html">
                    <span class="item-login ani">
                        Cadastrar Funcionário
                    </span>
                </a>
            </div>
        </div>

        <div class="link">
            <div class="texto">
                <a href="#">
                    <span class="ani">
                        meu carrinho
                    </span>
                </a>
            </div>
        </div>
    </nav>

    <script src="../javascript/sidebar.js"></script>
</body>

</html>